#title {
    color: #333;
}

#solid {
    margin-left: 90px;
    padding-top: 270px;
}

.btn-xs {
	width: 140px;
}

button[disabled], button:hover[disabled] {
	color: #777777;
}

text {
	cursor: pointer;
}

ellipse.chosen {
	fill: aqua;
}

.edge path.chosen {
	stroke: aqua;
}

polygon.chosen {
	fill: aqua;
}

.node path.chosen {
 	fill: aqua;
}
 
.node text.chosen {
 	stroke: black;
}
 
.edge text.chosen {
 	fill: aqua;
}
 
#warning, #info, #success {
    max-width:1100px;
    display: none;
    padding: 5px;
    margin-bottom: 0px;
}

#check1 {
	display: inline-block;
	margin: 10px;
}

.btn {
	padding: 6px 22px;
}

#sel1, #sel2 {
	width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    height: auto;
    font-size:12px;
}

#sel1 {
 	width: 60px;
}

#sel2 {
	width: 120px;
}

hr { 
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#upper {
	position: fixed;
	background-color: skyblue;
	width: 100%;
	height: 185px;
	border-bottom: 1px solid #9A9A9A;
}

#menu-toggle{
	margin: 0px 113px 5px;
}

.container {
	margin-left: 10px;
	width: 1100px;
	font-size:12px;
}