#title {
    color: #333;
}

#solid {
    margin-left: 90px;
    padding-top: 270px;
}

text {
	cursor: pointer;
}

ellipse.chosen {
	fill: aqua;
}

path.chosen {
	stroke: aqua;
}

polygon.chosen {
	fill: aqua;
}

#warning, #info, #success {
    max-width:835px;
    display: none;
}

#check1 {
	display: inline-block;
	margin: 10px;
}

.btn {
	padding: 6px 22px;
}

#sel1, #sel2 {
	width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

hr { 
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

#reset {
	padding: 6px 44px;
}
#build-dna {
	padding: 6px 30px;
}

#new-state {
	padding: 6px 20px;
}

#new-tran {
	padding: 6px 22px;
}

#delete-tran {
	padding: 6px 15px;
}

#upper {
	position: fixed;
	background-color: #999999;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #9A9A9A;
}

#menu-toggle{
	margin: 0px 113px 5px;
}

.alert {
	padding: 5px;
    margin-bottom: 0px;
}

.container {
	margin-left: 10px;
	width: 900px;
}